<div class="container-fluid">
    <div class="row">
        <h2 class="welcomepsn">Welcome To PSN</h2>
    </div>

    <div class="row confirmingmesgbox">
        <h2>Thanks for confirming your email address and mobile number.</h2>
    </div>

    <div class="row">
        <div class="ninecirclebox">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item">				
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3>EQUATES</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3>CONTRIBUTION</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3>PERSONAL</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">				
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3>NEAR & DEAR</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3>Work</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3>COMMUNITY</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">				
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3>LIBRARY</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3>REJUVENATION</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3>MARKET-PLACE</h3>
                                <p>You have <br><span>500</span><br>notifications</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>		
    </div>
</div>

<!-- <div >
    <a class="pull-right" routerLink="/login">Logout</a>
    {{ title }}
</div> -->